body{
  background-color: chartreuse;
}

#app{
  display: flex;
 flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.buttons{
  display: flex;
  justify-content: center;
}

#Cat {
  background-color: lightblue;
}

#Dog {
  background-color: lightgreen;
}

#Dino {
  background-color: lightsalmon;
}
