body{
  background-color: chartreuse;
}

#app{
  display: flex;
 flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.buttons{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.card-title{
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding: 10px;
}

.card-img-top{
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 3%;
}

.card-text1 {
  display: flex;
  justify-content: center;
}

.card-text2{
  display: flex;
  justify-content: center;
}


.card-text3{
  display: flex;
  justify-content: center;
}
 
.pet.dino{
  background-color: lightsalmon;
}

#Cat {
  background-color: lightblue;
}

#Dog {
  background-color: lightgreen;
}

#Dino {
  background-color: lightsalmon;
  
}
